<!--The content below is only a placeholder and can be replaced.-->
<div id="home-container"style="text-align:center">
  <div id="inner">
    <img id="logo" src="../assets/logo.svg" alt="">
    <h1>Crypto + Chats = Crypts</h1>
    <p class="subtitle">Slack meets real-time Cryptocurrency</p>

    <a href="#" class="cta">Join up or sign up</a>
  </div>
  <div id="illustration">
    <img id="dash" [@chatblips]="{value: ':enter', params : {time: '500', delay : 3000}}" src="../assets/dash.svg" alt="" class="cryptoIcons">
    <img id="iota" [@chatblips]="{value: ':enter', params : {time: '500', delay : 2300}}" src="../assets/miota.svg" alt="" class="cryptoIcons">
    <img id="eth" [@chatblips]="{value: ':enter', params : {time: '500', delay : 1500}}" src="../assets/eth.svg" alt="" class="cryptoIcons">
    <img id="monitor" [@monitorFade]  src="../assets/Monitor.svg" alt="" >
  </div>
</div>


